@import '@/styles/vars.scss';

.swiper-pagination {
    display: flex;
}

.swiper-pagination-bullet {
    border-radius: 0;
    opacity: 0.5;
    background: #FFF;
    height: 8px;
    width: 8px;
    flex-shrink: 0;

    &-active {
        opacity: 1;
        width: 10%;
        background: $color-black;
    }
}
