$containerWidth-min: 1024px;
$containerWidth-max: 1456px;
$containerPadding-desktop: 50px;

$color-snow: #FFFFFF;
$color-black: #000000;
$color-primary: #7991F5;
$color-primary-light: #9BAEFD;
$color-gray-0: #D6D6D6;
$color-gray-6: #F2F2F2;



$media-mobile: 758px; //max
$media-desktop: 759px; //min
$media-tablet: 1035px; // extra 
