@import '../../../styles/vars.scss';

.MuiButton-root {}

.MuiButton-text {}


.button.MuiButton-root {
    font-family: "Gilroy", "sans-serif";
    border-radius: 0;
    text-transform: lowercase;
    color: $color-black;
    border: 1px solid $color-black;

    &:hover,
    &:active {
        border: 1px solid $color-black;
        color: $color-snow;

        text-shadow: 0 0 .65px $color-snow, 0 0 .65px $color-snow;
    }

    &:hover {
        background: $color-primary-light;
    }

    &:active {
        background: $color-primary;
    }

    &.Mui-disabled{
        background: $color-gray-6;
    }

    &.MuiButton-sizeMedium{
        padding: 16px 24px;
        font-size: 16px;
    }

    &.MuiButton-sizeSmall{
        padding: 8px 24px;
        font-size: 16px;
    }
}
