@import "../../../../../styles/vars.scss";

.top{
    height: 653px;
    display: flex;
    align-items: stretch;
    background: $color-gray-2;

    .title{

    }

   

    .pic{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .image{
            // width: 100%;
            flex-grow: 1;
        }
    
        .links{
            padding: 25px 50px;
            background: $color-snow;
        }
    }
}
