@import "../../../../../styles/vars.scss";

.top{
    height: 653px;
    display: flex;
    align-items: stretch;
    background: $color-gray-2;

    .title{

    }

    .image{
        width: 100%;
        height: 100%;
    }
}
